/* IRANSansX Font Family */

@font-face {
    font-family: 'IRANSansX';
    src:
        url('./IRANSansX-Regular.woff2') format('woff2'),
        url('./IRANSansX-Regular.woff') format('woff'),
        url('./IRANSansX-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansX';
    src:
        url('./IRANSansX-Medium.woff2') format('woff2'),
        url('./IRANSansX-Medium.woff') format('woff'),
        url('./IRANSansX-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansX';
    src:
        url('./IRANSansX-Bold.woff2') format('woff2'),
        url('./IRANSansX-Bold.woff') format('woff'),
        url('./IRANSansX-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansX';
    src:
        url('./IRANSansX-Light.woff2') format('woff2'),
        url('./IRANSansX-Light.woff') format('woff'),
        url('./IRANSansX-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansX';
    src:
        url('./IRANSansX-UltraLight.woff2') format('woff2'),
        url('./IRANSansX-UltraLight.woff') format('woff'),
        url('./IRANSansX-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansX';
    src:
        url('./IRANSansX-Black.woff2') format('woff2'),
        url('./IRANSansX-Black.woff') format('woff'),
        url('./IRANSansX-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
